@model FaturaOtomasyon.Database.Teklif
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Durum Guncelle</h2>
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <h4 class="card-title">Teklif Durum </h4>
        </div>
        <div class="content-body">
            <section class="invoice-list-wrapper">
                <div class="card">
                    <form action="~/Teklif/TeklifGuncelle" method="post" class="form form-vertical">
                        @Html.HiddenFor(x=>x.Id)
                     
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <label>
                                            Teklif Durum
                                        </label>
                                        @Html.DropDownListFor(s => s.TeklifDurum, (SelectList)ViewBag.TeklifDurum, " Teklif Durum", new { @class = "form-select" })


                                    </div>
                                </div>
                               

                            </div>
                            <button type="submit" class="btn btn-primary">Durum Guncelle</button>
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

